<ul>
<% @restaurants.each do |restaurant| %>
  <li> Restaurant Name: <%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<%end%>
</ul>

<%=link_to 'Create Restaurant', new_restaurant_path %> 
